body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000000;
  color: #ff4e4e;
  font-family: "ProggyCleanTT", sans-serif;
  overflow: hidden;
}

#main-content {
  height: 100vh;
  overflow: auto;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #0000008f;
  z-index: 3;
  width: 100%; /* Ensure full width */
  text-align: center;
}

.matrix-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  overflow: hidden;
}

canvas {
  display: block;
}

.spinning-text {
  padding-top: 100px;
  font-size: 18px;
  color: #ff4e4e;
  animation: flip 4s infinite;
  transform-style: preserve-3d;
  perspective: 1000px;
  z-index: 4;
  text-shadow: 
        -1px -1px 0px black, 
         1px -1px 0px black, 
        -1px  1px 0px black, 
         1px  1px 0px black;
}

.line {
    width: 26rem;
    background-color: #ffffffa6;
    height: 1px;
    margin-top: 20px;
    outline: 1px solid #000000a9;
}

.content-text {
  padding-top: 20px;
  font-size: 16px;
  color: #ffffff;
  animation: flip 4s infinite;
  transform-style: preserve-3d;
  perspective: 1000px;
  z-index: 4;
  text-shadow: 
        -1px -1px 0px black, 
         1px -1px 0px black, 
        -1px  1px 0px black, 
         1px  1px 0px black;
}

.mbutt {
  padding-top: 1rem;
}

.mbutt img {
  width: 88px; /* Width of the image */
  height: 31px; /* Height of the image */
}

.btn {
  display: block;
  width: 88px; /* Width of the image */
  height: 31px; /* Height of the image */
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 31px; /* Align text vertically */
  color: transparent; /* Hide text */
  text-decoration: none;
}

.btn img {
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 88px); /* 4 columns, each 88px wide */
  grid-auto-rows: 31px; /* Row height */
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  width: auto; /* Adjust width based on content */
  max-width: 1000px; /* Limit the width of the grid container */
  margin-top: 1rem; /* Space between the mbutt image and grid */
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}