body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000000;
  color: #ff4e4e;
  font-family: 'ProggyCleanTT', sans-serif;
  overflow: hidden;
}

#main-content {
  height: 100vh;
  overflow: auto;
  background-color: #000000;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}

.text-content {
  z-index: 1;
  text-align: center;
}


#ascii-art {
  font-size: 0.9em;
  white-space: pre;
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background-color: transparent;
  font-family: 'ProggyCleanTT', sans-serif;
  color: #f8f8f2;
  border: none;
  padding: 10px 20px;
  margin: 5px 0;
  cursor: pointer;
  transition: color 0.3s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: 300;
  width: 100%;
}

.button-text {
  position: relative;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  flex-shrink: 0;
  transition: filter 0s;
}

#gh {
  width: 34px;
  height: 34px;
}

#buttons-button {
  margin-top: 45px;
}

#buttons-button .button-text {
  outline: 1px solid #f8f8f27a;
}

#buttons-button .button-text:hover {
  outline: 1px solid #ff4e4e6e;
  border-radius: 2px;
}

.button:hover {
  color: #ff4e4e;
}

.button:hover .icon {
  filter: brightness(0) saturate(100%) invert(50%) sepia(80%) saturate(4605%)
    hue-rotate(334deg) brightness(114%) contrast(113%);
}

#music-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  z-index: 3;
}

#music-content {
  display: inline-block;
  position: relative;
  width: 300px;
  overflow: hidden;
}

#play-button,
#now-playing {
  display: inline-block;
  padding: 0 20px;
  animation: scroll-text 5s linear infinite;
}

#music-border-left,
#music-border-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  background-color: #000000;
  z-index: 1;
}

#music-border-left {
  left: 0;
}

#music-border-right {
  right: 0;
}

@keyframes scroll-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.matrix-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  overflow: hidden;
}

canvas {
  display: block;
}

.spinning-text {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1em;
  font-weight: bold;
  color: #ff4e4e;
  animation: flip 4s infinite;
  transform-style: preserve-3d;
  perspective: 1000px;
  z-index: 4;
  text-shadow: 0 0 10px #ff4e4e;
}

@keyframes flip {
  0% {
    transform: translateX(- 50%) rotateY(0deg);
  }
  50% {
    transform: translateX(-50%) rotateY(-180deg);
  }
  100% {
    transform: translateX(-50%) rotateY(-360deg);
  }
}

.construction-container {
  z-index: 3;
}

.construction-container * {
  position: absolute;
  top: 5%;
  opacity: 50%;
  width: 75px;
}

.construction-left {
  left: 2%;
}

.construction-right {
  right: 2%;
}